*
{
    box-sizing: border-box;
}

body
{
    font: 16px/22px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    margin: 0;

    color: #fff;
    background-color: #47a3da;
}

.box
{
    width: 600px;
    margin: 40px auto;

    border: 3px solid #fff;
}

.title
{
    margin: 0;
    padding: 40px;

    text-align: center;

    border-bottom: 3px solid;
    background-color: #10689a;
}

.form
{
    padding: 0 40px;

    border-bottom: 3px solid;
}

.form label
{
    font-size: 1.1em;

    display: block;

    padding: 40px 5px 5px 2px;

    cursor: pointer;
    text-transform: uppercase;

    color: #2b2b2b;
}

.form input,
.form textarea
{
    font: inherit;

    display: block;

    width: 100%;
    padding: 5px 10px;

    color: inherit;
    border: 3px solid;
    background: transparent;
}

.form textarea
{
    min-height: 200px;
}

.form input:focus,
.form textarea:focus,
.form label:active + input,
.form label:active + textarea
{
    border-color: #10689a;
    outline: none;
}

.button
{
    font: inherit;

    display: block;

    width: auto;
    margin: 40px auto;
    padding: 15px 30px;

    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: inherit;
    border: 3px solid #10689a;
    background: #10689a;
}

.button:hover,
.button:focus
{
    background: #1478b1;
}

.button--hide
{
    position: absolute;
    top: -16px;
    right: 0;

    margin: 0;
}

.button--small
{
    font-size: 14px;

    margin: 0;
    padding: 0;

    transition: opacity .3s linear;

    opacity: .7;

    will-change: transform;
}

.button--small:hover
{
    opacity: 1;
    background: transparent;
}

.list
{
    margin: 30px 40px 0;
    padding: 0;

    list-style-type: none;
}

.item
{
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4;

    position: relative;

    margin-bottom: 30px;
    padding: 1em 2em;

    word-wrap: break-word;

    border-radius: 5px;
    background: #10689a;
}

.item::after
{
    position: absolute;
    top: 1.2em;
    right: 100%;

    width: 0;
    height: 0;

    content: '';
    pointer-events: none;

    border: solid transparent;
    border-width: 10px;
    border-right-color: #10689a;
}

.item__head
{
    display: flex;

    padding: 0 0 10px 0;

    border-bottom: 1px solid rgba(255, 255, 255, .4);

    align-items: center;
    justify-content: space-between;
}

.item__title
{
    margin: 0;
}

.item__action
{
    display: flex;
}
